<div class="container mt-5">
  <h1 class="display-4 text-center">GitHub Repository Search</h1>
  <%= render 'search_form' %>

  <% if @repositories.present? %>
    <h2 class="mt-5">Search Results:</h2>
    <div class="row mt-3">
      <% @repositories.each do |repo| %>
        <%= render 'repository_card', repo: repo %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center mt-5">
      <p>No repositories found.</p>
    </div>
  <% end %>
</div>
